/*header__start*/
header{
	background: url(../img/headerbg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 930px;
	padding: 50px 0;
}
.text-orange{
	color: #ffc61a;
}
.bg-gray{
	background-color:#f5f4f2 ;
}
/*navbar*/
.navbtn{
  background-color:#ffc61a ;
}
.navbtn:hover{
  background-color: white;
}
.logo{
	border-radius: 10px;
}
.menu{
	font-size: 18px;
	font-weight: 500;
	color: white;
	margin-left: 20px;
	border-radius: 15px;
	text-transform: uppercase;

}
.menu:hover{
	color: black;
	background-color: #ffc61a;
	
}
/*info*/
.info{
	text-align: center;
	margin-top: 30px;
}
.infoh2{
	text-transform: uppercase;
	font-size: 35.74px;
	font-weight: 500;
	color: #ffc61a;
}
.infoh1{
	font-size: 75px;
	font-weight: 500;
	color: white;
}
.infoa{
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	color: white;
	letter-spacing: 20px;
}
.car{
	margin-top: 50px;
}
@keyframes move-back-and-forth {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

.moving-image {
  animation: move-back-and-forth 2s ease-in-out infinite;
}

/*form start*/
.formm{
	background-color:#ffc61a ;
	height: 450px;
}
.frmrg{
	padding-top: 50px;
	padding-bottom: 30px;
}
.frmcontent{
	padding-right: 150px;
}
.formh2{
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 500;
}
.formh1{
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 500;
	text-transform: uppercase;
}
.formbtn{
	font-size: 22px;
	background-color: black;
	color: white;
	border-radius: 15px;
}
.formbtn:hover{
	background-color: black ;
	color: #ffc61a;
}
.formm .right h1{
	text-align: center;
	background-color: black;
	font-size: 30px;
	border-radius: 6px;
}
.right{
	width: 370px;
	background-color: white;
	border-radius: 10px;
}
.ftext{
	font-size: 20px;
	font-weight: 500;
	color: black;
}
.formm .right form input[type="text"]{
	width: 48%;
	display: inline-block;
	margin: 0 2px 10px 0;
	border: 0;
	border-bottom: 4px solid #e4e4e4;
}
.sfc{
	border: 0;
	border-bottom: 4px solid #e4e4e4;
}
.right form input.form-control:focus{
	border-color: #ffc61a;
	box-shadow: none;
}
.frmbtn{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	background-color: black;
	color: white;
}
.frmbtn:hover{
	background-color: #ffc61a;
	color: black;
}
/*cards starts*/
.cards{
	margin-top: 40px;
	margin-bottom: 60px;
}
.card{
	margin-top: 80px;
	padding: 0 50px 0 50px;
	border-radius: 20px;
	margin-right: 10px;
}
.cars_card{
	margin-top: -70px;
}
.card:hover{
	background-color: #ffc61a;
	color: black;
	box-shadow: 17px 17px 24px -5px  #ffc61a;;
}
/*content part*/
.content{
	background: url(../img/bodybg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 930px;
	padding: 50px 0;
}
.content-info{
	margin-top: 40px;
	padding-right: 140px;
	margin-bottom: 80px;
}
.content .content-info img{
	position: absolute;
}
.content-text{
	margin-left: 100px;
}
/*testimonial*/
.testim{
	background:url(../img/testim.jpg);
	background-repeat: no-repeat;
	background-size: 100% 930px;
	padding: 60px;
}
.testim .testim_box{
background-color:#040707;
padding: 30px;
border-radius: 50px;
padding-right: 120px;
}
.testim .testim_box .testim-face img{
	position: absolute;
	margin-right: 90px;
}
.testim .testim_box .testim-face h4,h6{
	margin-top: 8px;
	margin-left: 90px;
}
/*contact*/
.contact{
	background-color: #ffc61a ;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 30px;
	color: black;
}
.cntcth3{
	font-size: 35px;
	letter-spacing: 5px;
}
.cntcth1{
	font-size: 75px;
	font-weight: 700;
	letter-spacing: 5px;
}
/*bfooter*/
.bfooter{
	background:url(../img/footerbg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 930px;
	padding: 60px;
	padding-top: 80px;	
}
.bfooter p{
	font-size: 18px;
	padding: 20px 0 ;
}
.bfooter h3{
	border-bottom: 6px solid #ffc61a;
}
.bfooter .col-lg-4{
	padding: 0 25px 0 60px;
}
.bfooter .about_cab_hub ul li a{
	color: #ffc61a;
}
.bfooter .about_cab_hub ul{
	list-style: none;
	padding-left: 0;
}
 .bfooter .about_cab_hub ul li {
 	letter-spacing: 40px;
 	font-size: 18px;
 }
.bfooter .download ul {
 	list-style: none;
	padding-left: 0;
 }
 .bfooter .download ul li span{
 	color:#ffc61a ;
 	padding-top: 10px ;
 	font-size: 25px;
 }
 .bfooter .download ul li i{
 	color: white;
 	padding-left: 20px ;
 	font-size: 25px;
 }
  .bfooter .download ul li i.bi-apple{
  	padding-left: 70px ;
  }
  .bfooter .contact2 ul{
  	list-style: none;
  }
 .contact2 ul {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0;
}

.contact2 li {
  display: flex;
  align-items: center;
}

.contact2 li i {
  margin-right: 10px;
  font-size: 30px;

}

.contact2 li p {
  margin: 0;
  font-size: 20px;
}
footer {
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: black;
    height: 50px;
    padding-top: 10px;
    color: white;
    
}

.foot {
  display: flex;
  align-items: center;
}

.foot p,
.foot i,
.foot a {
  margin: 0;
  font-size: 20px;
}
.foot a {
	text-decoration: none;
	color: white;
	padding-left: 5px;
}
.foot i {
  margin: 0 5px; 
}
